batchgenerators==0.25.1
matplotlib==3.8.4
MedPy==0.5.2
numpy==1.26.4
opencv-python==4.11.0.86
pandas==2.2.3
Pillow==10.3.0
scikit-image==0.23.2
scipy==1.13.1
torch==2.3.0
torchvision==0.18.0
torchnet==0.0.4
tqdm==4.66.4
